@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  min-width: 1280px;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
  min-width: 1280px;
}

#app {
  height: 100%;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #EEF1F6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2F3E50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337AB7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #FFFFFF;
  }

  &.draft {
    background: #D0D0D0;
  }

  &.deleted {
    background: #D0D0D0;
  }
}

.link-type,
.link-type:focus {
  color: #337AB7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

// refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.tags-view-wrapper .tags-view-item .el-icon-close{
  vertical-align: 1px !important;
}
.tags-view-wrapper .tags-view-item .el-icon-close:before{
  vertical-align: -1px !important;
}

// element
#app .sidebar-container{
  z-index: 2020;
}
.el-dialog__wrapper{
  left: 180px;
}
.el-dialog__header{
  padding: 10px !important;
  border-bottom: 1px solid #D7D7D7;
}
.el-dialog__headerbtn{
  top: 10px !important;
}
.el-dialog__title{
  font-size: 14px;
}
.el-dialog__body{
  padding: 30px 20px 0 20px;
}
.el-table__body tr.current-row>td{
  background-color: #1890ff;
}
.el-dialog__footer{
  text-align: center !important;
}
label{
  font-weight: normal;
}
.el-form-item__label{
  padding-right: 5px !important;
}
.el-form-item--small.el-form-item{
  margin-bottom: 10px;
}
.el-form-item__label{
  color: #7F7F7F !important;
}
.el-icon-date:before{
  color: #333333;
}
.el-input__inner{
  padding: 0 10px !important;
}
.el-input--prefix .el-input__inner{
  padding: 0 10px 0 25px !important;
}
.el-button+.el-button{
  margin-left: 0px !important;
}
.el-form--inline .el-form-item{
  margin-right: 0px !important;
}
.el-table__body tr.current-row>td{
  background-color: #1890ff !important;
  color: #FFFFFF;
}
.el-checkbox-button{
  margin: 2px 0 5px 0;
}
.el-input__inner[type=number] {
  padding-right: 0px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  padding-right: 0px;
}
.el-table .el-form-item{
  margin-bottom: 0px;
}
/*table表头对不齐*/
body .el-table th.gutter{
  display: table-cell !important;
}
body .el-table colgroup.gutter{
  display: table-cell !important;
}
.GoodsInfo .el-table--enable-row-hover .el-table__body tr:hover>td{
   background-color: #FFFFFF !important;
}
/*form validate border color*/
.el-form-item.is-error .el-input__inner, .el-form-item.is-error .el-input__inner:focus, .el-form-item.is-error .el-textarea__inner, .el-form-item.is-error .el-textarea__inner:focus{
  border-color: #DCDFE6;
}
/*.el-table tr{pointer-events: none;}*/


/*public*/
.RequireLabel .el-form-item__label{
  color: #E84335 !important;
}
.formAdd{
  .el-form-item__label{
    line-height: 20px !important;
    height: 23px;
  }
  .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before{
    content: '';
  }
  .el-radio-button__inner{
    border-left: 1px solid #DCDFE6;
    margin-right: 6px;
    border-radius: 4px;
  }
  .el-radio-button:first-child .el-radio-button__inner{
    border-radius: 4px;
  }
  .el-radio-button:last-child .el-radio-button__inner{
    border-radius: 4px;
  }
  .el-checkbox-button__inner{
    border-left: 1px solid #DCDFE6;
    margin-right: 6px;
    border-radius: 4px;
  }
  .el-checkbox-button:first-child .el-checkbox-button__inner{
    border-radius: 4px;
  }
  .el-checkbox-button:last-child .el-checkbox-button__inner{
    border-radius: 4px;
  }
  .el-input-group__append, .el-input-group__prepend{
    /*background: #FFFFFF;*/
    color: #333333;
  }
  .el-button--small{
    padding: 7px 5px !important;
  }
  .el-button--mini{
    padding: 7px 5px !important;
  }
}
.GeneralAdd{
  .el-pagination__total{
    float: left;
  }
  .el-pagination__sizes{
    float: left;
  }
  .el-textarea__inner{
    height: 100%;
  }
  .suffix{
    .el-input-group__append{
      width: 80px;
    }
  }
}
.GoodsInfo .el-input__inner{
  border: 0px;
}
.Require{
  color: #E84335 !important;
}
.hoverBtBlue:hover{
  color: #1890FF !important;
  border: 1px solid #1890FF !important;
}
.borderBlue{
  border-color: #2196F3;
  color: #2196F3;
}
.noBorderRadius{
  width: 150px;
  height: 44px;
  border-radius: 0px;
}
.el-table .grayRow{
  background: #F2F2F2;
}